# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
*.iml
out
gen
.idea/inspectionProfiles/
ch06/data/folderA/
ch06/renamed/
